.side-scroller
{
    height: 100%;
    width: 100%;
    position: absolute !important;
    overflow: hidden;
    white-space: nowrap;
    left: 0px;
    top: 54px;
    bottom: 0px;
    right: 0px;
    border: solid 1px dodgerblue;
}

.side-scroller > *
{
    display: inline-block;
    border: solid 1px black;
}

.divider
{
    width: 5px;
    height: 100%;
    //background-color: grey;
    //TODO use color from variables
    background: #E7E7E7 url(./images/thumb_vertical.png) center center no-repeat; //TODO move image file to assets
    position: absolute !important;
    top: 0px;
    bottom: 0px;
    cursor: col-resize;
}

.divider + *
{
    margin-left: 10px;
}

.view
{
    vertical-align: top;
}
